
@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

@if (@TempData["Alert"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Alert"]
    </div>
}

<div class="text-right">
    <a class="btn btn-outline-info" asp-controller="Product" asp-action="Add">New Product</a>
</div>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>STOCK</th>
        <th>TIME</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Price</td>
    <td>@item.Stock</td>
    <td>@item.DateTime</td>
    <td class="text-right">
        <a class="btn btn-outline-danger text-right" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
        <a class="btn btn-outline-success text-right" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Edit</a>
    </td>
</tr>
    }

</table>

